.pattern{
    background-image: url(../img/pattern.png);
    background-color:#6495ed;
    background-size: 350px 175px;
    height: 90px;
}

.img{
    width: 20%;
    height: 125px;
}

.booleaner{
    color: #6495ed;
}

.info{
    color: #808080;
}

.testo{
    background-color:#ffff00;
}

.thead{
    background-color: #6495ed;
}

th{
    color: #ffffff;
}

.line-1-3{
    background-color:#afeeee;
}